<a href="https://colab.research.google.com/github/kaushal-172/python2021/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.WAP to find simple interest and compound interest.

In [ ]:
p=int(input("Enter the Principal Amount"))
r=int(input("Enter the rate of interest"))
t=int(input("Enter the Time"))
si=(p*r*t)/100
A = p * (pow((1 + r / 100), t))
ci=A-p
print("Simple Interest is ",si)
print("Compound Interest is ",ci)

2.WAP to input first name,middle name and last name into three variables and then apply concatenation.

In [ ]:
f=input("Enter the first name\t")
m=input("Enter the middle name\t")
l=input("Enter the last name\t")
print("Hello!!!",f,m,l)

3.WAP to create a list with multiple dimensions and display the elements of it.

In [11]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 
print(a)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

4.WAP to implement type conversion on different data types.

In [12]:
num_int=int(input("Enter an ineteger Value"))
num_flo=float(input("Enter a Float Value"))

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Enter an ineteger Value100
Enter a Float Value0.0041
datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 100.0041
datatype of num_new: <class 'float'>

5. Find the distance between 2 points using Pythagorian Theorem,where the coordinates of two points are given.

In [ ]:
from math import sqrt
x1=int(input("Enter x1:"))
y1=int(input("Enter y1:"))
x2=int(input("Enter x2:"))
y2=int(input("Enter y2:"))
x=x1-x2
y=y1-y2
d=sqrt(x**2+y**2)
print("d is",d)